@media all and (orientation: portrait) {
    #login_middle {
        background: none !important;
    }

    #login_content {
        margin: auto !important;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    background-color: #B9D2C7;
}

#login_middle {
    height: 100%;
    background-image: url('/pictures/bunny.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    overflow-y: scroll;
}

#login_content {
    width: 300px;
    margin: auto 20% auto auto;

}

#form_holder {
    border: 2px solid #649B83;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

#message_placeholder {
    width: 100%;
}

form {
    position: relative;
    margin: auto;
    display: block;
}

input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #649B83;;
    outline: none;
}

input[type=submit] {
    display: block;
    width: 50%;
    border: 2px solid #649B83;
    border-top: none;
    background-color: white;
    color: #649B83;
    margin: auto 0px auto auto;
}

input[type=submit]:focus {
    background-color: #B9D2C7;
}