@media all and (orientation: portrait) {
    #login_middle {
        background: none !important;
    }

    #login_content {
        margin: auto !important;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    background-color: #B9D2C7;
}

#login_middle {
    height: 100%;
    background-image: url('/pictures/bunny.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    overflow-y: scroll;
}

img {
    height: 100%;
}

#login_content {
    width: 300px;
    height: 140px;
    margin: auto 20% auto auto;

}

#form_holder {
    height: 70%;
    width: 100%;
    border: 2px solid #649B83;
    border-radius: 10px;
    background-color: white;
}

#message_placeholder {
    width: 100%;
}

form {
    position: relative;
    height: 80%;
    width: 88%;
    margin: auto;
    display: block;
    top: 20%;
}

input {
    display: block;
    height: 27%;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-color: #649B83;
    outline: none;
}

input[type=submit] {
    margin-top: 0px;
    position: absolute;
    display: block;
    width: 50%;
    right: 0px;
    border: 2px solid #649B83;
    border-top: none;
    border-bottom: 2px solid #649B83;
    background-color: white;
    color: #649B83;
}

input[type=submit]:focus {
    background-color: #B9D2C7;
}